<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agendamvp.mvploginagenda">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MvpLoginAgenda"
        tools:targetApi="31">
        <activity
            android:name=".Corresponsal_Client_Balance"
            android:exported="false" />
        <activity
            android:name=".Corresponsal_History"
            android:exported="false" />
        <activity
            android:name=".Corresponsal_Transfer"
            android:exported="false" />
        <activity
            android:name=".ConfirmDeposit"
            android:exported="false" />
        <activity
            android:name=".Corresponsal_deposit"
            android:exported="false" />
        <activity
            android:name=".ConfirmRetiro"
            android:exported="false" />
        <activity
            android:name=".ConfirmPayWithCard"
            android:exported="false" />
        <activity
            android:name=".Corresponsal_Retiro"
            android:exported="false" />
        <activity
            android:name=".PayWithCard"
            android:exported="false" />
        <activity
            android:name=".Corresponsal_Start"
            android:exported="false" />
        <activity
            android:name=".List_admin_Cop"
            android:exported="false" />
        <activity
            android:name=".List_Admin_Clientes"
            android:exported="false" />
        <activity
            android:name=".PinRegisterClientAdmin"
            android:exported="false" />
        <activity
            android:name=".DataAdminClient"
            android:exported="false" />
        <activity
            android:name=".SearchClientAdmin"
            android:exported="false" />
        <activity
            android:name=".UserDataAdmin"
            android:exported="false" />
        <activity
            android:name=".DataAdminCop"
            android:exported="false" />
        <activity
            android:name=".SearchAdminCorresponsal"
            android:exported="false" />
        <activity
            android:name=".RegisterAdminCorresponsal"
            android:exported="false" />
        <activity
            android:name=".Admin_corresponsal"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>